custom-calendar {
  --cal-bg-color: transparent;
  --cal-text-color-days: var(--text-color-primary);
  --cal-text-color-heading: var(--text-color-secondary);
}

[data-theme='dark'] custom-calendar {
  --cal-event: hsla(213, 27%, 84%, 0.1);
  --cal-event-hover: hsla(213, 27%, 84%, 0.15);
}
